body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2e94e3, #0c1d8d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
  }
  
 
  .login-box {
    background: rgba(1, 18, 250, 0.31); 
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  }
  
  .login-box img{
    padding-left: 75px;
  }

  .login-box h2 {
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: bold;
  }
  
  .login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #f1f1f1;
  }
  
  .login-box input {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: 2px solid #a5d8ff;
    background: transparent;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    display: flex;
    align-items: center;
    color: #ffffff
  }
  
  .login-box input:focus {
    border-bottom: 2px solid #74c0fc;
  }
  
  .login-box button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: #3f97e0;
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .login-box button:hover {
    background: #74c0fc;
  }

  .password-wrapper {
    position: relative;
}

.eye-icon {
    width: 22px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
